# Analysys of population of Italy for 2013 year

### Content
+ Introduction:  
+ Data description and objectives
+ Data manipulation and validation
+ Conclusion

## 1. Introduction

### Provinces of Italy

The provinces of Italy (Italian: Province d'Italia) are the constituent entities of the Italian Republic, on an intermediate level between a municipality (comune) and a region (regione). Since 2015, provinces have been classified as ‘institutional bodies of second level’.

There are currently 107 institutional bodies of second level in Italy, including 80 ordinary provinces, 2 autonomous provinces, 4 regional decentralization entities, 6 free municipal consortia, and 14 metropolitan cities, including the Aosta Valley region.

The three main functions devolved to provinces are:
+ local planning and zoning;
+ provision of local police and fire services;
+ transportation regulation (car registration, maintenance of local roads, etc.).

Source(https://en.wikipedia.org/wiki/Provinces_of_Italy)

## 2. Data description and objectives

The analysis below would be based on the "Mobile phone activity in a city" Kaggle dataset(https://www.kaggle.com/marcodena/mobile-phone-activity) initially gathered by Marco De Nadai, who used census data provided by the Italian National Institute of Statistics (ISTAT) (http://www.istat.it/en/), a public research organization and the main provider of official statistics in Italy. The dataset was updated 7 times and the last update was a year ago.

The main topic of the dataset was the hourly activity of cell phones in Italy, but my current analysis provides data on the population, marital status, residents and their place of residence. Archive of the dataset consists of 16 .csv files but the major and the most data-rich part for analyzing Italy population is in the ISTAT_census_variables_2011.csv. Other files consist of 1 million records of hourly phone calls, SMS, Mb of internet used.From my point of you, I have lots of opportunities to grow of my analysis, using info from other .csv and by scrapping from the wikipedia to construct the maps. The following parameters from ISTAT_census_variables_2011.csv will be used:
+ Name of the province
+ Total resident population
+ Foreigners and stateless persons residing in Italy 
+ Male residents
+ Female resident
+ Unmarried residents
+ Unmarried male residents
+ Buildings for residential use in reinforced concrete
+ Buildings for residential use in other materials (steel, wood, etc.)
+ Residential buildings built before 1919

### Research Questions
For this project, data analysis contains 6 parts:

1. Analyze 10 most populous cities and vice versa 
2. Analyze the number of local residents living without any old degree or new system university degrees
3. Analyze the number of divorced women versus the number of divorced men in the province
4. Understand which gender prevails in a given province at the time of research
5. Сalculate the oldest province based on the number of buildings built at the beginning of the last century
6. Analyze the material of the houses built and compare them with the material used at the beginning of the last century

## 3. Data manipulation and validation

In [4]:
# First of all, imort the pandas module
import pandas as pd

In [5]:
# retrieve all data from csv file
data = pd.read_csv("ISTAT_census_variables_2011.csv")

# now we can see that here 110 rows and 135 columns
data

,PROVINCIA,P1,P2,P3,P4,P5,P6,P7,P8,P9,...,E18,E19,E20,E21,E22,E23,E24,E25,E26,E27
0,Alessandria,427229,204983,222246,158222,198253,11481,44582,14691,85839,...,82121,27855,7197,84634,23155,10813,5564,2523,1896,280402
1,Asti,217573,105370,112203,82119,102538,5404,20767,6745,44773,...,49604,11716,3039,48074,12510,4775,2083,1194,786,134452
2,Biella,182192,86821,95371,69188,82431,5266,18474,6833,37017,...,25523,19595,5795,35030,11310,4776,2066,974,581,112204
3,Cuneo,586378,287786,298592,231452,276983,12473,49417,16053,127243,...,113200,43780,10393,106446,41341,18356,8181,3449,2278,402507
4,Novara,365559,176361,189198,143302,170741,9351,31811,10354,76929,...,40028,25384,5773,39561,22413,10224,4404,2272,1148,199727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Nuoro,159197,78154,81043,74898,67875,2486,12001,1937,40032,...,22818,18454,4138,33567,12120,6029,1628,595,199,98881
106,Ogliastra,57329,28300,29029,27160,24615,698,4255,601,14585,...,9258,7464,3369,14406,5742,2935,845,140,22,42431
107,Olbia-Tempio,150501,74387,76114,67225,66825,3684,9461,3306,35734,...,27559,8200,1809,35090,13832,7508,3859,1180,650,143621
108,Oristano,163916,80482,83434,73203,72622,3033,12615,2443,39223,...,39001,10916,1406,55321,9822,2946,962,359,141,98544
109,Sassari,328043,159547,168496,145479,145369,7686,23477,6032,76445,...,42907,15680,6484,61285,14034,6492,3815,2415,1260,194442

In [6]:
#showing only first 10 rows
data.head(10)

,PROVINCIA,P1,P2,P3,P4,P5,P6,P7,P8,P9,...,E18,E19,E20,E21,E22,E23,E24,E25,E26,E27
0,Alessandria,427229,204983,222246,158222,198253,11481,44582,14691,85839,...,82121,27855,7197,84634,23155,10813,5564,2523,1896,280402
1,Asti,217573,105370,112203,82119,102538,5404,20767,6745,44773,...,49604,11716,3039,48074,12510,4775,2083,1194,786,134452
2,Biella,182192,86821,95371,69188,82431,5266,18474,6833,37017,...,25523,19595,5795,35030,11310,4776,2066,974,581,112204
3,Cuneo,586378,287786,298592,231452,276983,12473,49417,16053,127243,...,113200,43780,10393,106446,41341,18356,8181,3449,2278,402507
4,Novara,365559,176361,189198,143302,170741,9351,31811,10354,76929,...,40028,25384,5773,39561,22413,10224,4404,2272,1148,199727
5,Torino,2247780,1081298,1166482,881971,1041312,63811,186549,74137,468707,...,165010,85757,43897,156553,73700,39001,22344,15005,17220,1293882
6,Verbano-Cusio-Ossola,160264,77219,83045,62913,71909,4552,15428,5462,34182,...,28514,18846,4732,35630,12621,6367,2518,960,470,119348
7,Vercelli,176941,85150,91791,67575,80931,4680,17855,5900,36818,...,28342,12217,4245,28883,11394,5052,2373,1163,619,111800
8,Valle d'Aosta/Vallée d'Aoste,126806,61861,64945,54474,52935,3708,10742,4947,29523,...,15452,17385,7248,17330,11678,8641,3530,1265,776,127423
9,Bergamo,1086277,536201,550076,456200,508965,21242,75980,23890,246016,...,84319,65226,18712,59309,52151,38023,19949,7898,3787,598929

## 1. Analyze 10 most populous cities and vice versa

In [7]:
# creating list of columns where we can see only neccesarry information which is name of the
#Province and number of people living there
col_list = ["PROVINCIA","P1"]

# creating new variable for further sorting
population = pd.read_csv('ISTAT_census_variables_2011.csv',usecols=col_list)

#sorting by the number of residents in ascending order
top = population.sort_values(by='P1',ascending=0)

# here we can see top 10 most populous province in the Italy
top.rename(columns={'PROVINCIA': 'Province','P1': 'Population'}).head(10)

   Province  Population
67     Roma     3997465
78   Napoli     3054956
16   Milano     3038420
5    Torino     2247780
80     Bari     1247303
98  Palermo     1243585
10  Brescia     1238044
79  Salerno     1092876
9   Bergamo     1086277
95  Catania     1078766

Now lets observe least populous province of Italy

In [8]:
# I could write only top.tail(10)
# but i desided to create another variable because it it more convenient to observe which province 
# have the smallest population

# but now we order in descending order, so thats why here is 1
top2 = population.sort_values(by='P1',ascending=1)
top2.rename(columns={'PROVINCIA': 'Province','P1': 'Population'}).head(10)

                         Province  Population
106                     Ogliastra       57329
74                        Isernia       87241
104               Medio Campidano      101256
8    Valle d'Aosta/Vallée d'Aoste      126806
103             Carbonia-Iglesias      128540
30                        Gorizia      140143
107                  Olbia-Tempio      150501
66                          Rieti      155164
105                         Nuoro      159197
6            Verbano-Cusio-Ossola      160264

In [9]:
# create a dataframe called df
df = pd.DataFrame(pd.read_csv("ISTAT_census_variables_2011.csv"))

In [9]:
# just to insurance. Checking 
type(df)

pandas.core.frame.DataFrame

## 2. Analyze the number of local residents living without any old degree or new system university degrees

In [10]:
## creating a variable to substract columns. Calculating local residents by substracting foreigners from total population
natives = df["P1"] - df["ST1"]

## calcultating local residets who don have degree at universities
no_edu = natives - df["P47"]

## creating dataframe
not_educated = pd.DataFrame(no_edu)

## adding new variable to the dataframe
df = df.assign(not_educated=not_educated.values)

## gaining only neccesary columns
df2 = df[['PROVINCIA', 'P1', 'not_educated']]

## sorting by amount of people
result = df2.sort_values(by='not_educated',ascending=0)

## giving labels to the columns and retrieving first 10 rows
result.rename(columns={'PROVINCIA': 'Province','P1': 'Population','not_educated': 'Non-Educated Native'}).head(10)

   Province  Population  Non-Educated Native
67     Roma     3997465              3022510
78   Napoli     3054956              2706805
16   Milano     3038420              2266784
5    Torino     2247780              1820855
98  Palermo     1243585              1101451
80     Bari     1247303              1092310
10  Brescia     1238044               981879
95  Catania     1078766               958740
79  Salerno     1092876               947071
9   Bergamo     1086277               886112

In [11]:
## By using descending order and creating amother dataframe we can observ province with the lowest amount 
## of non-educated residents.
result2 = df2.sort_values(by='not_educated',ascending=1)

## giving alias names and also retrieve top 10 "educated" provinces
result2.rename(columns={'PROVINCIA': 'Province','P1': 'Population','not_educated': 'Non-Educated Native'}).head(10)

                         Province  Population  Non-Educated Native
106                     Ogliastra       57329                52179
74                        Isernia       87241                74778
104               Medio Campidano      101256                94742
8    Valle d'Aosta/Vallée d'Aoste      126806               105850
30                        Gorizia      140143               115682
103             Carbonia-Iglesias      128540               118753
66                          Rieti      155164               130199
107                  Olbia-Tempio      150501               131341
6            Verbano-Cusio-Ossola      160264               139124
61                          Fermo      174857               142473

## 3. Analyze the number of divorced women versus the number of divorced men in the province

In [12]:
## unmfem - unmarried females. Calculated by substracting number of unmarried males from unmarried people
unmfem = df["P4"] - df["P9"]
df = df.assign(unmfem=not_educated.values)

## filter neccesary columns
df3 = df[['PROVINCIA','P2','P9','P3','unmfem']]

## here i tried to add new column to the dataframe but it always gives error

#df3 = df[['PROVINCIA','unmfem']]

##also i tried another way, but it also gives me error 

#col_list3 = ["PROVINCIA","P4","P9"]
#population = pd.read_csv('ISTAT_census_variables_2011.csv',usecols=col_list3)

## now we can see that adding unmfem as new column is incorrect. Unmaried people minus unmarried male does not equal
df3.rename(columns={'PROVINCIA': 'Province','P2':'Males','P9':'Unmarried Males','P3':'Females','unmfem':'Unmarried Females'}).head(10)

,Province,Males,Unmarried Males,Females,Unmarried Females
0,Alessandria,204983,85839,222246,351401
1,Asti,105370,44773,112203,177637
2,Biella,86821,37017,95371,157979
3,Cuneo,287786,127243,298592,484968
4,Novara,176361,76929,189198,299122
5,Torino,1081298,468707,1166482,1820855
6,Verbano-Cusio-Ossola,77219,34182,83045,139124
7,Vercelli,85150,36818,91791,150067
8,Valle d'Aosta/Vallée d'Aoste,61861,29523,64945,105850
9,Bergamo,536201,246016,550076,886112

But if we observe new column of values separately, it is noticeable that it calculated well.

In [13]:
unmfem.head(10)

0     72383
1     37346
2     32171
3    104209
4     66373
5    413264
6     28731
7     30757
8     24951
9    210184
dtype: int64

## 4. Understand which gender prevails in a given province at the time of research

In [12]:
##import new module. I used it for comparing two different columns
import numpy as np

## if the statement is true it will give us 1st statement "More males" , if not second "More females"
## the statement df["P2"] > df["P3"] is comparing populations of men and women in each province
comparison_column = np.where(df["P2"] > df["P3"], "More Males", "More Females")

## after this it fill the values to the new column
df["genderDominance"] = comparison_column

##giving labels
gender = df.rename(columns={'PROVINCIA': 'Province','P1': 'Population','P2': 'Males','P3': 'Females'}).head(10)

## in previous code examples line above works well. But here it decided not to work at all. Thats why i decided 
## to ignore alias names. 
df[['PROVINCIA','P1','P2','P3','genderDominance']]

## PROVINCIA - Name of the province
## P1 Total population
## P2 Male population
## P3 Female population

        PROVINCIA      P1      P2      P3 genderDominance
0     Alessandria  427229  204983  222246    More Females
1            Asti  217573  105370  112203    More Females
2          Biella  182192   86821   95371    More Females
3           Cuneo  586378  287786  298592    More Females
4          Novara  365559  176361  189198    More Females
..            ...     ...     ...     ...             ...
105         Nuoro  159197   78154   81043    More Females
106     Ogliastra   57329   28300   29029    More Females
107  Olbia-Tempio  150501   74387   76114    More Females
108      Oristano  163916   80482   83434    More Females
109       Sassari  328043  159547  168496    More Females

[110 rows x 5 columns]

In [15]:
## lets observe all columns from this dataframe
## here's line to change options
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [16]:
df[['PROVINCIA','P1','P2','P3','genderDominance']]

                        PROVINCIA       P1       P2       P3 genderDominance
0                     Alessandria   427229   204983   222246    More Females
1                            Asti   217573   105370   112203    More Females
2                          Biella   182192    86821    95371    More Females
3                           Cuneo   586378   287786   298592    More Females
4                          Novara   365559   176361   189198    More Females
5                          Torino  2247780  1081298  1166482    More Females
6            Verbano-Cusio-Ossola   160264    77219    83045    More Females
7                        Vercelli   176941    85150    91791    More Females
8    Valle d'Aosta/Vallée d'Aoste   126806    61861    64945    More Females
9                         Bergamo  1086277   536201   550076    More Females
10                        Brescia  1238044   607910   630134    More Females
11                           Como   586735   286101   300634    More Females
12                        Cremona   357623   174506   183117    More Females
13                          Lecco   336310   164901   171409    More Females
14                           Lodi   223755   109771   113984    More Females
15                        Mantova   408336   198711   209625    More Females
16                         Milano  3038420  1455050  1583370    More Females
17          Monza e della Brianza   840129   409618   430511    More Females
18                          Pavia   535822   258625   277197    More Females
19                        Sondrio   180814    88357    92457    More Females
20                         Varese   871886   422752   449134    More Females
21                  Bolzano/Bozen   504643   248322   256321    More Females
22                         Trento   524832   255731   269101    More Females
23                        Belluno   210001   101135   108866    More Females
24                         Padova   921361   447352   474009    More Females
25                         Rovigo   242349   117281   125068    More Females
26                        Treviso   876790   429287   447503    More Females
27                        Venezia   846962   408590   438372    More Females
28                         Verona   900542   439225   461317    More Females
29                        Vicenza   859205   421812   437393    More Females
30                        Gorizia   140143    67830    72313    More Females
31                      Pordenone   310811   151951   158860    More Females
32                        Trieste   232601   109555   123046    More Females
33                          Udine   535430   258689   276741    More Females
34                         Genova   855834   402267   453567    More Females
35                        Imperia   214502   102095   112407    More Females
36                      La Spezia   219330   104390   114940    More Females
37                         Savona   281028   133220   147808    More Females
38                        Bologna   976243   466757   509486    More Females
39                        Ferrara   353481   168345   185136    More Females
40                   Forlì-Cesena   390738   189911   200827    More Females
41                         Modena   685777   333069   352708    More Females
42                          Parma   427434   206072   221362    More Females
43                       Piacenza   284616   137838   146778    More Females
44                        Ravenna   384761   185521   199240    More Females
45             Reggio nell'Emilia   517316   252659   264657    More Females
46                         Rimini   321769   154991   166778    More Females
47                         Arezzo   343676   166507   177169    More Females
48                        Firenze   973145   463574   509571    More Females
49                       Grosseto   220564   105585   114979    More Females
50                        Livorno   335247   160393   174854    More Females
51                          Lucca   388327   186183   202144    More Females
52                  Massa-Carrara   199650    95754   103896    More Females
53                           Pisa   411190   198673   212517    More Females
54                        Pistoia   287866   138054   149812    More Females
55                          Prato   245916   119088   126828    More Females
56                          Siena   266621   127633   138988    More Females
57                        Perugia   655844   315217   340627    More Females
58                          Terni   228424   108840   119584    More Females
59                         Ancona   473865   228105   245760    More Females
60                  Ascoli Piceno   210407   101728   108679    More Females
61                          Fermo   174857    84840    90017    More Females
62                       Macerata   319607   154770   164837    More Females
63                Pesaro e Urbino   362583   176501   186082    More Females
64                      Frosinone   492661   240388   252273    More Females
65                         Latina   544732   266395   278337    More Females
66                          Rieti   155164    75762    79402    More Females
67                           Roma  3997465  1902725  2094740    More Females
68                        Viterbo   312864   151880   160984    More Females
69                         Chieti   387956   188479   199477    More Females
70                       L'Aquila   298343   145340   153003    More Females
71                        Pescara   314661   151154   163507    More Females
72                         Teramo   306349   149424   156925    More Females
73                     Campobasso   226419   110207   116212    More Females
74                        Isernia    87241    42587    44654    More Females
75                       Avellino   429157   209491   219666    More Females
76                      Benevento   284900   138308   146592    More Females
77                        Caserta   904921   441070   463851    More Females
78                         Napoli  3054956  1475144  1579812    More Females
79                        Salerno  1092876   531769   561107    More Females
80                           Bari  1247303   607155   640148    More Females
81          Barletta-Andria-Trani   391723   193354   198369    More Females
82                       Brindisi   400801   192599   208202    More Females
83                         Foggia   626072   305162   320910    More Females
84                          Lecce   802018   382317   419701    More Females
85                        Taranto   584649   283156   301493    More Females
86                         Matera   200101    98103   101998    More Females
87                        Potenza   377935   184676   193259    More Females
88                      Catanzaro   359841   174430   185411    More Females
89                        Cosenza   714030   348437   365593    More Females
90                        Crotone   170803    83481    87322    More Females
91             Reggio di Calabria   550967   267297   283670    More Females
92                  Vibo Valentia   163409    80527    82882    More Females
93                      Agrigento   446837   216140   230697    More Females
94                  Caltanissetta   273099   131650   141449    More Females
95                        Catania  1078766   520659   558107    More Females
96                           Enna   173451    83402    90049    More Females
97                        Messina   649824   312626   337198    More Females
98                        Palermo  1243585   599323   644262    More Females
99                         Ragusa   307492   150557   156935    More Females
100                      Siracusa   399933   196047   203886    More Females
101                       Trapani   429917   208353   221564    More Females
102                      Cagliari   550580   267460   283120    More Females
103             Carbonia-Iglesias   128540    62872    65668    More Females
104               Medio Campidano   101256    50039    51217    More Females
105                         Nuoro   159197    78154    81043    More Females
106                     Ogliastra    57329    28300    29029    More Females
107                  Olbia-Tempio   150501    74387    76114    More Females
108                      Oristano   163916    80482    83434    More Females
109                       Sassari   328043   159547   168496    More Females

## 5. Сalculate the oldest province based on the number of buildings built at the beginning of the last century

In [17]:
## E8 - Buildings Built Before 1919 
col_list5 = ["PROVINCIA","E8"]

## well known for us code for sorting in ascending order
old_buildings = pd.read_csv('ISTAT_census_variables_2011.csv',usecols=col_list5)
top = old_buildings.sort_values(by='E8',ascending=0)

## Table represents us provinces and the amount of the builings. From this we can easily understand that these provinces
## are one of the oldest ones
top.rename(columns={'PROVINCIA': 'Oldest Provincia','E8': 'Buildings Built Before 1919'}).head(10)

   Oldest Provincia  Buildings Built Before 1919
5            Torino                        82333
3             Cuneo                        54011
0       Alessandria                        46598
10          Brescia                        41111
48          Firenze                        40717
22           Trento                        38149
34           Genova                        36004
89          Cosenza                        35265
51            Lucca                        33575
80             Bari                        31412

## 6. Analyze the material of the houses built and compare them with the material used at the beginning of the last century

In [15]:
## numpy as np

## new comparison which shows us which building material is more used and we can 
## juxtapose it with the building built before 1919.
## E6 Concrede buildings
## E7 Other materials

comparison_column2 = np.where(df["E6"] > df["E7"], "Concrete", "Other")
df["material"] = comparison_column2

material = df.rename(columns={'PROVINCIA': 'Province','E6': 'Concrete buildings','E7': 'Other Material'})
df[['PROVINCIA','E6','E7','material']].head(25)

                       PROVINCIA      E6     E7  material
0                    Alessandria   18660  17824  Concrete
1                           Asti   13920   6309  Concrete
2                         Biella    7924   7919  Concrete
3                          Cuneo   54969  23616  Concrete
4                         Novara   20187  12413  Concrete
5                         Torino  129691  37210  Concrete
6           Verbano-Cusio-Ossola    7055  10628     Other
7                       Vercelli    9162   6759  Concrete
8   Valle d'Aosta/Vallée d'Aoste    9277  10382     Other
9                        Bergamo   79099  30811  Concrete
10                       Brescia   70790  52032  Concrete
11                          Como   31975  25439  Concrete
12                       Cremona   10904  11690     Other
13                         Lecco   26230   9463  Concrete
14                          Lodi   12384   5979  Concrete
15                       Mantova   13033  10185  Concrete
16                        Milano  118625  27245  Concrete
17         Monza e della Brianza   54288  11948  Concrete
18                         Pavia   34670  19892  Concrete
19                       Sondrio   11702  11738     Other
20                        Varese   47374  31316  Concrete
21                 Bolzano/Bozen   28152  10725  Concrete
22                        Trento   26508  27556     Other
23                       Belluno   12205  12441     Other
24                        Padova   39499  28464  Concrete

## 5. Conclusion

This analysis can be expanded by adding webscrapping the coordinates of the provinces of Italy from Wikipedia. On this stage the analysis is prepared for further analysis and ready for adding calls, SMS and Mb.